<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>


    <div class="container mb-3">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/posts">community</a></li>
        </ol>
      </nav>
    <div class="studyroom studyroom-index">
      <h2>Study Room</h2>
      <table>
        <tbody>
      <tr>
       
        <% console.log(room +"tq"); %>
        스터디방 이름  :  <%= room.title %> <br>
            내용 :  <%= room.content %> <br> <hr><hr>
          <br>
      </tbody>
      </table>
      <a href="/studies/<%= room._id %>/enter">스터디방 참여하기</a>

    </div>
  </div>
  </body>
</html>